<!doctype html>
<html>
<head>
    <title>Bill Split</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1>Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>
        <div class="col-sm-6">
          <h2>Add items to the Total Bill</h2>
        <% if (user.local.email) { %>
          <form action="/bill" method="POST">
            <input type="text" value="" placeholder="item" name="item">
            <input type="text" placeholder="amount" name="amount">
            <button type="submit">Add</button>
          </form>
        </div>
        <% } %>

        <div class="col-sm-6">
          <h3>Total Bill</h3>
          <ul class="bill">
            <% let total = 0; %>
            <% for (var i = 0; i < messages.length; i++) { %>
              <li class="item">
                <span><%= messages[i].item %></span>
                <span>$<%= messages[i].amount %></span>
                <span><%= messages[i].owner %></span>
                <button class="claim">Claim</button>
                <span class="trash"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
              </li>
              <% total += Number(messages[i].amount); %>
            <% } %>
          </ul>
          <p>Subtotal: $<span class="subtotal"><%= total.toFixed(2) %></span></p>
          <p>Tax (6%): $<span class="tax">0.00</span></p>
          <p><strong>Balance Due: $<span class="balance">0.00</span></strong></p>
        </div>

        <div class="col-sm-6">
          <h3>My Bill</h3>
          <ul class="myBill">
         
          </ul>
          <p>Subtotal: $<span class="my-subtotal">0.00</span></p>
          <p>Tax (6%): $<span class="my-tax">0.00</span></p>
          <p><strong>Balance Due: $<span class="my-balance">0.00</span></strong></p>
        </div>
</div>

<script src="main.js"></script>

</body>
</html>
